/*   PLACEHOLDER
______________________ */


%nav {
  width: 85%;
  margin: 0 auto;
  @media only screen and (max-width: 400px) {
    width: 100%;
  }
  nav {
    align-items: flex-end;
    justify-content: center;
    @media only screen and (max-width: 767px) {
      align-items: center;
      margin: 25px auto 15px;
    }
  }
  ul {
    max-width: 300px;
    @media only screen and (max-width: 400px) {
      justify-content: center;
    }
    li {
      width: 45px;
      height: 45px;
      margin: 0 15px;
      @media only screen and (max-width: 400px) {
        margin: 0 10px;
      }
    }
    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      perspective-origin: 50px 50px;
      transform-origin: 50px 50px;
      transform-style: preserve-3d;
      transition: transform .2s ease-out 0s;
      .icon--front,
      .icon--back {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: background .2s ease-out 0s;
      }
      .icon--front {
        transform: translate3d(0px, 0px, 30px) rotateY(0deg);
        background: rgb(255, 255, 255);
      }
      .icon--back {
        transform: translate3d(29px, 0px, 20px) rotateY(90deg);
        background: rgb(50, 50, 50);
      }
      &:hover {
        transform: rotateY(-90deg);
        transition-delay: .35s;
        .icon--front,
        .icon--back {
          transition-delay: .35s;
        }
        .icon--front {
          background: rgb(50, 50, 50);
        }
        .icon--back {
          background: rgb(255, 255, 255);
        }
      }
    }
  }
}