/*   PLACEHOLDER
______________________ */


%nav {
  width: 85%;
  margin: 0 auto;
  nav {
    align-items: flex-end;
    justify-content: center;
  }
  ul {
    max-width: 300px;
    li {
      align-items: flex-end;
      &:nth-child(1) a {
        @include logo($icon--linkedin, 25px, 25px);
      }
      &:nth-child(2) a {
        @include logo($icon--github, 25px, 25px);
      }
      &:nth-child(3) a {
        @include logo($icon--codepen, 25px, 25px);
      }
      &:nth-child(4) a {
        @include logo($icon--email, 25px, 25px);
      }
      a {
        transition: opacity .5s;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}