/*   VARIABLES
______________________ */


// --- Breakpoints --- 

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


// ----- Colors ------ 
$accent--color: #52844e;
$text--light: #fff;
$text--color: #404041;
$text__shadow: 0px 0px 10px rgba(0, 0, 0, 1);
$footer__bg: #050605;


// ------ Fonts ------ 
$font--primary: 'Open Sans', Arial;


// ------ Images ------ 
$hero__bg: url('../img/hero.jpg');
$icon--linkedin: url('../img/icon--linkedin.svg');
$icon--github: url('../img/icon--github.svg');
$icon--codepen: url('../img/icon--codepen.svg');
$icon--email: url('../img/icon--email.svg');