@import '_variables';
@import '_grid';
@import '_keyframes';
@import '_mixins';
@import '_placeholder';
@import '_reset';


/*   HERO
______________________ */

.hero {
  position: relative;
  height: 100vh;
  text-align: center;
  color: $text--light;
  &:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    content: '';
    background: $hero__bg no-repeat center center;
    background-size: cover;
    @media only screen and (min-width: 768px) {
      animation: hero__bg 1.3s ease-in-out 1s forwards;
    }
  }
  header {
    padding: 20px;
    .header__logo {
      max-width: 39px;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: -11px;
      @media only screen and (max-width: 767px) {
        margin: 0 auto;
      }
    }
    @extend %nav;
  }
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    @include container(600px, -100px 0 0 -300px);
    padding: 50px;
    @media only screen and (max-width: 767px) {
      top: auto;
      left: 15%;
      width: 70%;
      margin: 75px auto;
      padding: 15px;
    }
    &:before,
    &:after {
      position: absolute;
      width: 0%;
      height: 0%;
      content: '';
      border-color: transparent;
      border-style: solid;
      animation: hero__outlines 1s ease-in 1s forwards;
    }
    &:before {
      top: -20px;
      left: -20px;
      border-width: 1px 0 0 1px;
    }
    &:after {
      bottom: -20px;
      right: -20px;
      border-width: 0 1px 1px 0;
    }
  }
  .hero__heading,
  .hero__text {
    font-weight: 300;
    text-shadow: $text__shadow;
  }
  .hero__heading {
    font-size: 55px;
    margin: 0 auto 45px;
    @media only screen and (max-width: 767px) {
      margin: 0 auto 15px;
    }
  }
  .hero__text {
    font-size: 25px;
  }
}


/*   SECTION - WORK
______________________ */

.work {
  @include container(1200px);
  padding: 85px 0 125px;
  .work__heading {
    font: 300 40px/1 $font--primary;
    margin: 0 0 45px;
    strong {
      position: relative;
      font: 400 80px/1 $font--primary;
    }
  }
  .work__project {
    position: relative;
    height: 325px;
    &:not(:last-of-type) {
      margin: 0 0 65px;
    }
    .project__container {
      opacity: 0;
      width: 80%;
      max-width: 600px;
      height: 100%;
      padding: 25px 45px;
      color: $text--light;
      transition: opacity .5s;
      p,
      ul li {
        font: 300 18px/1.3 $font--primary;
      }
      h3 {
        font: 400 25px/1.3 $font--primary;
      }
      p {
        margin: 25px 0 20px;
      }
      ul li {
        list-style: disc;
        margin: 0 0 10px 20px;
      }
      .btn {
        position: relative;
        width: 150px;
        display: inline-block;
        margin: 25px 0 0;
        padding: 0 15px;
        color: inherit;
        svg {
          position: absolute;
          top: -35px;
          left: 0;
          width: 100%;
          polygon {
            fill: none;
            stroke: $text--light;
            stroke-width: 2px;
          }
        }
        span {
          position: relative;
        }
        &:hover {
          color: $text--color;
          svg polygon {
            fill: $text--light;
          }
        }
        &.btn--right {
          text-align: right;
          svg {
            left: auto;
            right: 0;
          }
        }
      }
      &:hover {
        opacity: 1;
        background: rgba(0, 0, 0, .85);
      }
      @media only screen and (max-width: 767px) {
        opacity: 1;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
        h3 {
          font: 700 23px/1.3 $font--primary;
        }
        p,
        ul li {
          font-weight: 400;
        }
      }
      @media only screen and (max-width: 600px) {
        p {
          display: none;
        }
        ul {
          margin: 15px auto 0;
        }
      }
      @media only screen and (max-width: 463px) {
        .btn:nth-of-type(2) {
          position: relative;
          left: calc(50% - 35px);
        }
      }
    }
    &.projects__project--peaktrails {
      background: url('../img/peaktrails.png') no-repeat center center;
      background-size: cover;
    }
    &.projects__project--said-the-whale {
      background: url('../img/said-the-whale.jpg') no-repeat top center;
      background-size: cover;
    }
    &.projects__project--parasail {
      background: url('../img/parasail-css-framework.jpg') no-repeat center center;
      background-size: cover;
    }
  }
}


/*   SECTION - CONTACT
______________________ */

.contact {
  background: $hero__bg no-repeat bottom center;
  background-size: cover;
  text-align: center;
  padding: 50px 15px 65px;
  h3 {
    @include container(280px);
    font: 300 35px/2 $font--primary;
    text-shadow: $text__shadow;
    color: $text--light;
    border-bottom: 2px solid $text--light;
    transition: max-width .5s;
    &:hover {
      max-width: 380px;
    }
    a {
      color: inherit;
    }
  }
}


/*   FOOTER
______________________ */

.footer {
  padding: 25px;
  background: $footer__bg;
  color: $text--light;
  div {
    @extend %nav;
  }
  p {
    font: 300 14px/1.5 $font--primary;
    @media only screen and (max-width: 767px) {
      align-items: center;
    }
  }
}
